In [30]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# data loading and preparing

In [31]:
data = pd.read_csv('./dft-road-casualty-statistics-casualty-provisional-mid-year-unvalidated-2022.csv', index_col="accident_index")
data.head()

,status,accident_year,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile,lsoa_of_casualty
accident_index,,,,,,,,,,,,,,,,,,,
2022070151244,Unvalidated,2022,070151244,2,1,1,2,46,8,3,0,0,0,0,0,9,1,9,E01033378
2022070152668,Unvalidated,2022,070152668,1,1,1,1,30,6,3,0,0,0,0,0,9,1,2,E01018551
2022070154696,Unvalidated,2022,070154696,1,1,1,2,58,9,3,0,0,0,0,0,9,1,10,E01006134
2022070154696,Unvalidated,2022,070154696,2,3,1,2,78,11,3,0,0,0,0,0,9,2,10,E01018724
2022070154696,Unvalidated,2022,070154696,3,2,1,1,63,9,3,0,0,0,0,0,9,3,7,W01000578

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61352 entries, 2022070151244 to 2022461159841
Data columns (total 19 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   status                              61352 non-null  object
 1   accident_year                       61352 non-null  int64
 2   accident_reference                  61352 non-null  object
 3   vehicle_reference                   61352 non-null  int64
 4   casualty_reference                  61352 non-null  int64
 5   casualty_class                      61352 non-null  int64
 6   sex_of_casualty                     61352 non-null  int64
 7   age_of_casualty                     61352 non-null  int64
 8   age_band_of_casualty                61352 non-null  int64
 9   casualty_severity                   61352 non-null  int64
 10  pedestrian_location                 61352 non-null  int64
 11  pedestrian_movement                 61352 non-null  int64
 12  car_passenger                       61352 non-null  int64
 13  bus_or_coach_passenger              61352 non-null  int64
 14  pedestrian_road_maintenance_worker  61352 non-null  int64
 15  casualty_type                       61352 non-null  int64
 16  casualty_home_area_type             61352 non-null  int64
 17  casualty_imd_decile                 61352 non-null  int64
 18  lsoa_of_casualty                    61352 non-null  object
dtypes: int64(16), object(3)
memory usage: 9.4+ MB

# EDA

## status column

In [33]:
data['status'].unique()

array(['Unvalidated'], dtype=object)

Every value in "status" column, is "Unvalidated".
So this column has nothing to tell and we can drop it.

In [34]:
data = data.drop(['status'], axis=1)

## accident_year column

In [35]:
data.accident_year.unique()

array([2022], dtype=int64)

Every value in "accident_year" column, is "2022".
So this column has nothing to tell and we can drop it.

In [36]:
data = data.drop(['accident_year'], axis=1)

## accident_reference

In [37]:
data.accident_reference.unique()
# no problem with unique values
data.accident_reference.nunique()
# there is 48283 kind of values in this column

# trying to turn it to numeric tyupe
for value in data.accident_reference:
    try:
        float(value)
    except:
        print(value)
        break

170H10152

this column is a kind of code.
the nunique id too large to decode it.
it's almost different for every column.
so we refuse using it, because there is no information in this column.

In [38]:
data = data.drop(['accident_reference'], axis=1)

## vehicle_reference

In [47]:
data.vehicle_reference.unique()
# 277 and 61 should be checked

array([  2,   1,   3,   4,   5,   8,   6,   9, 227,   7,  61], dtype=int64)

In [40]:
data[ (data.vehicle_reference == 61) | (data.vehicle_reference == 227) ] 
# they are outlier data

,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile,lsoa_of_casualty
accident_index,,,,,,,,,,,,,,,,
2022311153207,227,1,3,2,14,3,3,1,3,0,0,0,0,1,2,E01013947
2022311214493,61,1,1,1,21,5,3,0,0,0,0,0,3,2,8,E01028032

In [60]:
# turning this outliers values to None
vehicle_ref_outliers = data[ (data.vehicle_reference == 61) | (data.vehicle_reference == 227) ].index
for item in vehicle_ref_outliers:
    data.loc[item, 'vehicle_reference'] = None
    print(data.loc[item].vehicle_reference)

nan
nan