In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\Ali\AppData\Local\Temp\ipykernel_5360\265554930.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# data leading and preparing

In [2]:
data = pd.read_csv('./dft-road-casualty-statistics-casualty-provisional-mid-year-unvalidated-2022.csv', index_col="accident_index")
data.head()

,status,accident_year,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile,lsoa_of_casualty
accident_index,,,,,,,,,,,,,,,,,,,
2022070151244,Unvalidated,2022,070151244,2,1,1,2,46,8,3,0,0,0,0,0,9,1,9,E01033378
2022070152668,Unvalidated,2022,070152668,1,1,1,1,30,6,3,0,0,0,0,0,9,1,2,E01018551
2022070154696,Unvalidated,2022,070154696,1,1,1,2,58,9,3,0,0,0,0,0,9,1,10,E01006134
2022070154696,Unvalidated,2022,070154696,2,3,1,2,78,11,3,0,0,0,0,0,9,2,10,E01018724
2022070154696,Unvalidated,2022,070154696,3,2,1,1,63,9,3,0,0,0,0,0,9,3,7,W01000578

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61352 entries, 2022070151244 to 2022461159841
Data columns (total 19 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   status                              61352 non-null  object
 1   accident_year                       61352 non-null  int64
 2   accident_reference                  61352 non-null  object
 3   vehicle_reference                   61352 non-null  int64
 4   casualty_reference                  61352 non-null  int64
 5   casualty_class                      61352 non-null  int64
 6   sex_of_casualty                     61352 non-null  int64
 7   age_of_casualty                     61352 non-null  int64
 8   age_band_of_casualty                61352 non-null  int64
 9   casualty_severity                   61352 non-null  int64
 10  pedestrian_location                 61352 non-null  int64
 11  pedestrian_movement                 61352 non-null  int64
 12  car_passenger                       61352 non-null  int64
 13  bus_or_coach_passenger              61352 non-null  int64
 14  pedestrian_road_maintenance_worker  61352 non-null  int64
 15  casualty_type                       61352 non-null  int64
 16  casualty_home_area_type             61352 non-null  int64
 17  casualty_imd_decile                 61352 non-null  int64
 18  lsoa_of_casualty                    61352 non-null  object
dtypes: int64(16), object(3)
memory usage: 9.4+ MB

# EDA

## status column

In [5]:
data['status'].unique()

array(['Unvalidated'], dtype=object)

Every value in "status" column, is "Unvalidated".
So this column has nothing to tell and we can drop it.

In [7]:
data = data.drop(['status'], axis=1)

## accident_year column

In [8]:
data.accident_year.unique()

array([2022], dtype=int64)

Every value in "accident_year" column, is "2022".
So this column has nothing to tell and we can drop it.

In [9]:
data = data.drop(['accident_year'], axis=1)